body {
  width: 80vw;
  margin: 1em auto 0;
}

/* Meal */
.meal {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.2em;
  padding: 0.2em;
}

.meal__name {
  width: 80%;
}

.meal__quantity {
  margin: auto 0;
}

/* Meal List */
.meal-list {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

/* Day */
.day {
  border: 1px solid red;
}

.meal-times {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Meal Time */
.meal-time {
  border: 1px dotted blue;
  height: 8em;
  /* max-width: 30vw; */
  overflow: hidden;
}

.meal-time select {
  width: 100%;
}
